body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

h1 {
    font-family: "Baskervville SC", serif;
}

.firstColumn {
    width: 33vw;
    text-align: center;

}

.secondColumn {
    width: 34vw;
    text-align: center;
}

.thirdColumn {
    width: 33vw;
    text-align: center;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    height: 90vh;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}

#flag-container {
    width: 240px;
    height: 160px;
    text-align: center;
    padding-top: 20px;
}

#flag {
    max-width: 240px;
    max-height: 160px;
    border: 1px solid #ccc;
}

#options-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#options-container button {
    display: grid;
    margin: 10px 0;
    padding: 5px 5px;
    width: 210px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

#options-container button:hover {
    background: #0056b3;
}

#next-btn {
    padding: 10px 20px;
    width: 130px;
    background: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#next-btn:hover {
    background: #218838;
}

#result {
    margin-top: 20px 0 0 0;
    font-weight: bold;
}