/*
D32F2F DARK PRIMARY COLOR
FFCDD2 LIGHT PRIMARY COLOR
F44336 PRIMARY COLOR
FF5252 ACCENT COLOR
212121 PRIMARY TEXT
757575 SECONDARY TEXT
FFFFFF TEXT
*/

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FF5252;
    margin: 0;
}

h1 {
    font-family: "Baskervville SC", serif;
}

.firstColumn {
    width: 33vw;
    text-align: center;
}

.secondColumn {
    width: 34vw;
    text-align: center;
}

.thirdColumn {
    width: 33vw;
    text-align: center;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    background: #F44336;
    height: 90vh;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
}

#flag-container {
    width: 240px;
    height: 160px;
    text-align: center;
    padding-top: 20px;
}

#flag {
    max-width: 240px;
    max-height: 160px;
    border: 1px solid #ccc;
}

#options-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#options-container button {
    display: grid;
    margin: 10px 0;
    padding: 5px 5px;
    width: 240px;
    background: #FFCDD2;
    color: #212121;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#options-container button:hover {
    background: #D32F2F;
}

#next-btn {
    border-radius: 8px;
    color: #212121;
    font-weight: bold;
    background-color: #D32F2F;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;   
    padding: 24px 16px;
    width: 130px;
}

#next-btn:hover {
    background: #d41d1d;
}

.resultContainer {
    background-color: #fff;
    border-radius: 8px;
    width: 80%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#result {
    margin-top: 20px 0 0 0;
    font-weight: bold;
}

#changetheme-btn {
    border-radius: 8px;
    color: #212121;
    font-weight: bold;
    background-color: #D32F2F;
    padding: 24px 16px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#changetheme-btn:hover {
    background-color: #d41d1d;

}